BASEDIR="$HOME/projects/dnm"
TRIOSDIR="$BASEDIR/trios"
BAMDIR="$BASEDIR/bams"
SRCDIR="$BASEDIR/src"
REFDIR="$BASEDIR/ref"
REFFASTA="$REFDIR/Homo_sapiens_assembly38.fasta"
REFDBSNP="$REFDIR/dbsnp_146.hg38.vcf.gz"
REFEXCLUDELIST="$REFDIR/b38_exclude.interval_list"
REFRMSK="$REFDIR/rmsk.txt.gz"
REFCFS="$REFDIR/fragile_site_bed/combined.bed"
GATK="$HOME/tools/GATK"
SNPEFFDIR="$HOME/tools/snpeff"
SNPEFFDATA="$SNPEFFDIR/data"